

.button:pressed{
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.button{
    -fx-text-fill           : white;
    -fx-font-weight         : bold;
    -fx-font-size           : 14;
    -fx-background-radius   : 15;
    -fx-effect              : dropshadow(one-pass-box, rgba(0,0,0,0.3), 5, 0.0, 2, 2);
}

.button:hover{
    -fx-text-fill           : white;
    -fx-font-weight         : bold;
    -fx-font-size           : 14;
    -fx-background-radius   : 15;
    -fx-effect              : dropshadow(one-pass-box, rgba(0,0,0,0.3), 5, 0.0, 2, 2);
}

#taskManagementBtn {
    -fx-background-color    :  #35b86b;
}   
#taskManagementBtn:hover{
    -fx-background-color    :  #00a143ff;
}   

#pomodoroBtn{
    -fx-background-color    :  #f16650;
}
#pomodoroBtn:hover{
    -fx-background-color    :  #d41c00ff;
}

#trackStreakBtn{
    -fx-background-color    :  #4fe2c7ff;
}
#trackStreakBtn:hover{
    -fx-background-color    :  #30bea5;
}

#logoutBtn{
    -fx-background-color    :  transparent;
    -fx-border-color        :  black;
    -fx-border-width        :  2;
}

#logoutBtn:hover {
    -fx-scale-x             : 0.98;
    -fx-scale-y             : 0.98;
}

#logoutBtn:pressed {
    -fx-scale-x             : 0.95;
    -fx-scale-y             : 0.95;
}