#backToMenuBtn:pressed{
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

#viewStreakBtn:pressed{
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

#addCategoryBtn:pressed{
    -fx-font-size: 11px;
}

#logOutbtn:pressed{
    -fx-font-size: 11px;
}


#backToMenuBtn {
    -fx-background-color:  #007bff;
    -fx-border-left-width: 3;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.5), 5, 0.0, 0, 1.5);  

}

#backToMenuBtn:hover {
    -fx-background-color:  #0066d2ff;
}



#viewStreakBtn {
    -fx-background-color: #4ecdc4;
    -fx-border-left-width: 3;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.5), 5, 0.0, 0, 1.5);

}

#viewStreakBtn:hover {
    -fx-background-color:   #00a196ff;
}




#addCategoryBtn {
    -fx-background-color:  #2dd053ff;
}

#addCategoryBtn:hover {
    -fx-background-color:    #009723ff;
}


#logOutbtn {
    -fx-background-color:   #fa2f47;
}

#logOutbtn:hover {
    -fx-background-color:     #d80019ff;
}

.category-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-effect: dropshadow(one-pass-box, rgba(255,255,255,0.1), 2, 0.0, 0, 1);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.category-button:hover {
    -fx-background-color: linear-gradient(to bottom,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.1)
    );
    -fx-text-fill: black;
    -fx-effect: dropshadow(one-pass-box, rgba(255,255,255,0.3), 6, 0.0, 0, 2);
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

/* New style for selected category button */
.category-button-selected {
    -fx-background-color: linear-gradient(to bottom,
        rgba(255, 255, 255, 0.8),
        rgba(200, 198, 198, 0.4)
    );
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(226, 226, 226, 0.31), 8, 0.0, 0, 2);
    -fx-border-color: rgba(209, 209, 209, 1);
    -fx-border-width: 1.3px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

/* Hover effect for selected button */
.category-button-selected:hover {
    -fx-background-color: linear-gradient(to bottom,
        rgba(255, 255, 255, 0.8),
        rgba(200, 198, 198, 0.4)
    );
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(226, 226, 226, 0.31), 8, 0.0, 0, 2);
    -fx-border-color: rgba(209, 209, 209, 1);
    -fx-border-width: 1.3px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

#toggleButton {
    -fx-background-color: transparent;
}

#toggleButton:hover {
    -fx-background-color:  rgba(0, 0, 0, 0.1);
}

#toggleButton:pressed {
    -fx-background-color: #d2d2d261;
}